*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    
}
html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
body{
     min-width: 800px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px #fff;
    flex: 1;
    
}
a{
    text-decoration: none;
}
header{
    color: black;
    height: 50px;
    padding: 05px 15px ;
    background-color: rgb(30, 142, 173);
    position: sticky;
    top: 0;
}
header h1{
    color: black;
}
nav{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #333;
    height: 50px;
    position: sticky;
    top: 50px;
}
nav ul{
    display: flex;
    margin-left: auto;
}
nav ul li{
    padding: 10px;
    
}
nav ul li a{
    color: gold;   
}
nav ul li a:hover{
    color: #333;   
}
nav ul li:hover {
    border: 1px solid;
    background-color: #fff;
    color: #333;

}
#search{
    font-size: 15px;
    height: 40px;
    width: 350px;
    border: 3px solid #333;
    border-radius: 5px;
    margin: 0;
    box-shadow: 2px 2px 2px black;
}
footer{
    background-color: rgb(30, 142, 173);
   margin-top: auto;
   height: 50px;
   border: 1px solid gold;
   position: sticky;
   bottom: 0;
}
footer p{
    margin: 15px auto;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
section{
    padding: 20px 16px ;
    margin-bottom: 20px ;
}
.blog-post h1{
    padding: 5px;
    margin: 1px;
    font-size: 20px;
}
.blog-post {
    padding: 5px;
    margin-bottom: 10px;
}
.blog-cont{
    padding: 5px;
    margin-bottom: 50px;
}
article{
    border-bottom: 1px solid rgba(128, 128, 128, 0.144);
}
.about p{
    margin: 10px;
    padding: 10px;
}
.about{
    padding: 10px;
    
    border-bottom: 0;
}
main{
    flex: 1;
    flex-direction: column;
}
button{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(30, 142, 173);
    box-shadow: 1px 1px 1px blue;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
}
button:hover{
    background-color: red;
    color: #fff;
}

.post-cont{
    border-bottom: 0;
}
label{
    position: absolute;
    left: -1000000px;
}
#title{
    height: 50px;
    width: 500px;
    border-radius: 10px;
    
}
#title,#post{
    display: block;
    padding: 5px;
    margin: 20px;
    border: 3px solid rgb(30, 142, 173);
}
#post{
    height: 300px;
    width: 500px;
    
    border-radius: 20px;
}
#button{
    padding: 5px;
    margin: 20px;
}

#search, textarea,input:placeholder-shown{
    font-size: large;
    padding: 5px;
    font-weight:600;
}

.article{
    margin: 0 auto;
}
#button:placeholder-shown{
    font-size: large;
    padding: 5px;
    font-weight:600;
}